<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.GoodsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.GoodsInfo" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="online_shopping_price" property="onlineShoppingPrice" jdbcType="DECIMAL" />
    <result column="is_include_cost" property="isIncludeCost" jdbcType="INTEGER" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_desc" property="goodsDesc" jdbcType="VARCHAR" />
    <result column="goods_stock" property="goodsStock" jdbcType="INTEGER" />
    <result column="warn_stock" property="warnStock" jdbcType="INTEGER" />
    <result column="commission_type" property="commissionType" jdbcType="INTEGER" />
    <result column="commission_amount" property="commissionAmount" jdbcType="INTEGER" />
    <result column="commission_card_type" property="commissionCardType" jdbcType="INTEGER" />
    <result column="card_amount" property="cardAmount" jdbcType="INTEGER" />
    <result column="integral_exchange" property="integralExchange" jdbcType="INTEGER" />
    <result column="sales_count" property="salesCount" jdbcType="INTEGER" />
    <result column="sales_people" property="salesPeople" jdbcType="INTEGER" />
    <result column="is_wechat_sell" property="isWechatSell" jdbcType="INTEGER" />
    <result column="is_disable" property="isDisable" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="is_sell_product" property="isSellProduct" jdbcType="INTEGER" />
    <result column="affiliated_image" property="affiliatedImage" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
    <result column="is_cash_deduction" property="isCashDeduction" jdbcType="INTEGER" />
    <result column="highest_discount" property="highestDiscount" jdbcType="DECIMAL" />
  </resultMap>
  
  <resultMap id="GoodsInfoDtoMap" type="com.zefun.web.dto.GoodsInfoDto" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
     <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="online_shopping_price" property="onlineShoppingPrice" jdbcType="DECIMAL" />
    <result column="is_include_cost" property="isIncludeCost" jdbcType="INTEGER" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_desc" property="goodsDesc" jdbcType="VARCHAR" />
    <result column="goods_stock" property="goodsStock" jdbcType="INTEGER" />
    <result column="warn_stock" property="warnStock" jdbcType="INTEGER" />
    <result column="commission_type" property="commissionType" jdbcType="INTEGER" />
    <result column="commission_amount" property="commissionAmount" jdbcType="INTEGER" />
    <result column="commission_card_type" property="commissionCardType" jdbcType="INTEGER" />
    <result column="card_amount" property="cardAmount" jdbcType="INTEGER" />
    <result column="integral_exchange" property="integralExchange" jdbcType="INTEGER" />
    <result column="sales_count" property="salesCount" jdbcType="INTEGER" />
    <result column="sales_people" property="salesPeople" jdbcType="INTEGER" />
    <result column="is_wechat_sell" property="isWechatSell" jdbcType="INTEGER" />
    <result column="is_disable" property="isDisable" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="is_sell_product" property="isSellProduct" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
	<result column="thirty_sales" property="thirtySales" jdbcType="INTEGER" />
	<result column="affiliated_image" property="affiliatedImage" jdbcType="VARCHAR" />
	<result column="is_cash_deduction" property="isCashDeduction" jdbcType="INTEGER" />
	 <result column="highest_discount" property="highestDiscount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, store_id, category_id, brand_id, dept_id, goods_name, goods_price, cost_price, online_shopping_price, is_include_cost, 
    goods_image, goods_desc, goods_stock, warn_stock, commission_type, commission_amount, commission_card_type, card_amount, integral_exchange ,
    sales_count, sales_people, is_wechat_sell, is_disable, is_deleted, is_sell_product, affiliated_image, create_time, update_time, last_operator_id,is_cash_deduction,highest_discount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select * from goods_info where goods_id =  #{goodsId,jdbcType=INTEGER}
  </select>
  <select id="selectGoodsAllByPrimaryKey" resultMap="GoodsInfoDtoMap" parameterType="java.lang.Integer">
  SELECT goods.*,dept.dept_name,cate.category_name FROM goods_info goods,dept_info dept,goods_category cate WHERE goods.dept_id = dept.dept_id AND cate.category_id = goods.category_id 
    and goods.goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.GoodsInfo" useGeneratedKeys="true" keyProperty="goodsId">
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="onlineShoppingPrice != null" >
        online_shopping_price,
      </if>
      <if test="isIncludeCost != null" >
        is_include_cost,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="goodsDesc != null" >
        goods_desc,
      </if>
      <if test="goodsStock != null" >
        goods_stock,
      </if>
      <if test="warnStock != null" >
        warn_stock,
      </if>
      <if test="commissionType != null" >
        commission_type,
      </if>
      <if test="commissionAmount != null" >
        commission_amount,
      </if>
      <if test="commissionCardType != null" >
        commission_card_type,
      </if>
      <if test="cardAmount != null" >
        card_amount,
      </if>
      <if test="integralExchange != null" >
        integral_exchange,
      </if>
      <if test="salesCount != null" >
        sales_count,
      </if>
      <if test="salesPeople != null" >
        sales_people,
      </if>
      <if test="isWechatSell != null" >
        is_wechat_sell,
      </if>
      <if test="isDisable != null" >
        is_disable,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="isSellProduct != null" >
        is_sell_product,
      </if>
      <if test="affiliatedImage != null" >
        affiliated_image,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id,
      </if>
      <if test="isCashDeduction != null" >
        is_cash_deduction,
      </if>
      <if test="highestDiscount != null" >
        highest_discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="onlineShoppingPrice != null" >
        #{onlineShoppingPrice,jdbcType=DECIMAL},
      </if>
      <if test="isIncludeCost != null" >
        #{isIncludeCost,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null" >
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsStock != null" >
        #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="warnStock != null" >
        #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="commissionType != null" >
        #{commissionType,jdbcType=INTEGER},
      </if>
      <if test="commissionAmount != null" >
        #{commissionAmount,jdbcType=INTEGER},
      </if>
      <if test="commissionCardType != null" >
        #{commissionCardType,jdbcType=INTEGER},
      </if>
      <if test="cardAmount != null" >
        #{cardAmount,jdbcType=INTEGER},
      </if>
      <if test="integralExchange != null" >
        #{integralExchange,jdbcType=INTEGER},
      </if>
      <if test="salesCount != null" >
        #{salesCount,jdbcType=INTEGER},
      </if>
      <if test="salesPeople != null" >
        #{salesPeople,jdbcType=INTEGER},
      </if>
      <if test="isWechatSell != null" >
        #{isWechatSell,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isSellProduct != null" >
        #{isSellProduct,jdbcType=INTEGER},
      </if>
      <if test="affiliatedImage != null" >
        #{affiliatedImage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=CHAR},
      </if>
      <if test="lastOperatorId != null" >
        #{lastOperatorId,jdbcType=INTEGER},
      </if>
      <if test="isCashDeduction != null" >
        #{isCashDeduction,jdbcType=INTEGER},
      </if>
      <if test="highestDiscount != null" >
       #{highestDiscount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.dto.GoodsInfoDto" >
    update goods_info
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="onlineShoppingPrice != null" >
        online_shopping_price = #{onlineShoppingPrice,jdbcType=DECIMAL},
      </if>
      <if test="isIncludeCost != null" >
        is_include_cost = #{isIncludeCost,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null" >
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsStock != null" >
        goods_stock = #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="warnStock != null" >
        warn_stock = #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="commissionType != null" >
        commission_type = #{commissionType,jdbcType=INTEGER},
      </if>
      <if test="commissionAmount != null" >
        commission_amount = #{commissionAmount,jdbcType=INTEGER},
      </if>
      <if test="salesCount != null" >
        sales_count = #{salesCount,jdbcType=INTEGER},
      </if>
      <if test="commissionCardType != null" >
        commission_card_type = #{commissionCardType,jdbcType=INTEGER},
      </if>
      <if test="cardAmount != null" >
        card_amount = #{cardAmount,jdbcType=INTEGER},
      </if>
      <if test="integralExchange != null" >
        integral_exchange = #{integralExchange,jdbcType=INTEGER},
      </if>
      <if test="salesPeople != null" >
        sales_people = #{salesPeople,jdbcType=INTEGER},
      </if>
      <if test="isWechatSell != null" >
        is_wechat_sell = #{isWechatSell,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        is_disable = #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isSellProduct != null" >
        is_sell_product = #{isSellProduct,jdbcType=INTEGER},
      </if>
      <if test="affiliatedImage != null" >
        affiliated_image = #{affiliatedImage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id = #{lastOperatorId,jdbcType=INTEGER},
      </if>
      <if test="isCashDeduction != null" >
        is_cash_deduction = #{isCashDeduction,jdbcType=INTEGER},
      </if>
      <if test="highestDiscount != null" >
       highest_discount = #{highestDiscount,jdbcType=DECIMAL},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByProperty" resultMap="BaseResultMap" parameterType="com.zefun.web.entity.GoodsInfo" >
 	select 
    <include refid="Base_Column_List" />
    from goods_info
    where 1 = 1 and is_deleted = 0
      <if test="storeId != null" >
        and store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="categoryId != null" >
        and category_id = #{categoryId,jdbcType=INTEGER}
      </if>
      <if test="brandId != null" >
        and brand_id = #{brandId,jdbcType=VARCHAR}
      </if>
      <if test="deptId != null" >
        and dept_id = #{deptId,jdbcType=INTEGER}
      </if>
      <if test="goodsName != null" >
        and goods_name = #{goodsName,jdbcType=VARCHAR}
      </if>
      <if test="goodsPrice != null" >
        and goods_price = #{goodsPrice,jdbcType=DECIMAL}
      </if>
      <if test="costPrice != null" >
        and cost_price = #{costPrice,jdbcType=DECIMAL}
      </if>
      <if test="onlineShoppingPrice != null" >
        and online_shopping_price = #{onlineShoppingPrice,jdbcType=DECIMAL}
      </if>
      <if test="isIncludeCost != null" >
        and is_include_cost = #{isIncludeCost,jdbcType=INTEGER}
      </if>
      <if test="goodsImage != null" >
        and goods_image = #{goodsImage,jdbcType=VARCHAR}
      </if>
      <if test="goodsDesc != null" >
        and goods_desc = #{goodsDesc,jdbcType=VARCHAR}
      </if>
      <if test="goodsStock != null" >
        and goods_stock = #{goodsStock,jdbcType=INTEGER}
      </if>
      <if test="warnStock != null" >
        and warn_stock = #{warnStock,jdbcType=INTEGER}
      </if>
      <if test="commissionType != null" >
        and commission_type = #{commissionType,jdbcType=INTEGER}
      </if>
      <if test="commissionAmount != null" >
        and commission_amount = #{commissionAmount,jdbcType=INTEGER}
      </if>
      <if test="commissionCardType != null" >
        and commission_card_type = #{commissionCardType,jdbcType=INTEGER}
      </if>
      <if test="cardAmount != null" >
        and card_amount = #{cardAmount,jdbcType=INTEGER}
      </if>
      <if test="integralExchange != null" >
        and integral_exchange = #{integralExchange,jdbcType=INTEGER}
      </if>
      <if test="salesCount != null" >
        and sales_count = #{salesCount,jdbcType=INTEGER}
      </if>
      <if test="salesPeople != null" >
        and sales_people = #{salesPeople,jdbcType=INTEGER}
      </if>
      <if test="isWechatSell != null" >
        and is_wechat_sell = #{isWechatSell,jdbcType=INTEGER}
      </if>
      <if test="isDisable != null" >
        and is_disable = #{isDisable,jdbcType=INTEGER}
      </if>
      <if test="isSellProduct != null" >
        and is_sell_product = #{isSellProduct,jdbcType=INTEGER}
      </if>
      <if test="affiliatedImage != null" >
        and affiliated_image = #{affiliatedImage,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=CHAR}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=CHAR}
      </if>
      <if test="lastOperatorId != null" >
        and last_operator_id = #{lastOperatorId,jdbcType=INTEGER}
      </if>
      order by sales_count desc
  </select>
  
  <select id="selectByStoreId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where is_deleted = 0 and store_id = #{storeId,jdbcType=INTEGER}
  </select>
  
  <resultMap type="com.zefun.web.dto.GoodsInfoDto" id="GoodsInfoStockMap">
        <result column="goodsId" property="goodsId" jdbcType="INTEGER" />
	    <result column="storeId" property="storeId" jdbcType="INTEGER" />
	    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
	    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
	    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
	    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
	    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
	    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
	    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
	    <result column="online_shopping_price" property="onlineShoppingPrice" jdbcType="DECIMAL" />
	    <result column="is_include_cost" property="isIncludeCost" jdbcType="INTEGER" />
	    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
	    <result column="goods_desc" property="goodsDesc" jdbcType="VARCHAR" />
	    <result column="goods_stock" property="goodsStock" jdbcType="INTEGER" />
	    <result column="warn_stock" property="warnStock" jdbcType="INTEGER" />
	    <result column="commission_type" property="commissionType" jdbcType="INTEGER" />
	    <result column="commission_amount" property="commissionAmount" jdbcType="INTEGER" />
	    <result column="commission_card_type" property="commissionCardType" jdbcType="INTEGER" />
    	<result column="card_amount" property="cardAmount" jdbcType="INTEGER" />
    	<result column="integral_exchange" property="integralExchange" jdbcType="INTEGER" />
	    <result column="sales_count" property="salesCount" jdbcType="INTEGER" />
	    <result column="sales_people" property="salesPeople" jdbcType="INTEGER" />
	    <result column="is_wechat_sell" property="isWechatSell" jdbcType="INTEGER" />
	    <result column="is_disable" property="isDisable" jdbcType="INTEGER" />
	    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
	    <result column="is_sell_product" property="isSellProduct" jdbcType="INTEGER" />
	    <result column="create_time" property="createTime" jdbcType="CHAR" />
	    <result column="update_time" property="updateTime" jdbcType="CHAR" />
	    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
	    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
	    <result column="type_name" property="brandName" jdbcType="VARCHAR" />
	    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
	    <result column="thirty_sales" property="thirtySales" jdbcType="INTEGER" />
	    <result column="is_cash_deduction" property="isCashDeduction" jdbcType="INTEGER" />
	    <result column="affiliated_image" property="affiliatedImage" jdbcType="VARCHAR" />
        <association property="goodsPurchaseRecordDto" column="{goodsId=goodsId,storeId=storeId}" select="getGoodsInfoAss" />
  </resultMap>
  <select id="selectGoodsInfoPage" resultMap="GoodsInfoStockMap" parameterType="com.zefun.web.entity.Page" >
  	SELECT gi.goods_id goodsId, gi.store_id storeId, gi.category_id, gi.brand_id, gi.dept_id, gi.supplier_id, gi.goods_name, gi.goods_price, gi.cost_price, gi.online_shopping_price, 
		   gi.is_include_cost, gi.goods_image, gi.goods_desc, gi.goods_stock, gi.warn_stock, gi.commission_type, gi.commission_amount, gi.commission_card_type, gi.card_amount, 
		   gi.integral_exchange, gi.sales_count, gi.sales_people, gi.is_wechat_sell, gi.is_disable, gi.is_deleted, gi.is_sell_product, gi.last_operator_id, 
		   gc.category_name, si.supplier_name, IFNULL(si.thirty_sales,0) AS thirty_sales, gi.affiliated_image
	from goods_info gi
	LEFT JOIN supplier_info si ON gi.supplier_id = si.supplier_id
	<!-- LEFT JOIN code_library gb ON gi.brand_id = gb.code_no -->
	LEFT JOIN goods_category gc ON gc.category_id = gi.category_id
	WHERE gi.is_deleted = 0 
	<if test="params.goodsInfo.storeId != null" >
		and gi.store_id = #{params.goodsInfo.storeId}
	</if>
	<if test="params.goodsInfo.goodsName != null" >
        and (
	        gi.goods_name like concat('%',#{params.goodsInfo.goodsName,jdbcType=VARCHAR},'%')
	        or gi.brand_id like concat('%',#{params.goodsInfo.goodsName,jdbcType=VARCHAR},'%')
	        or gc.category_name like concat('%',#{params.goodsInfo.goodsName,jdbcType=VARCHAR},'%')
        )
    </if>
    <if test="params.goodsInfo.goodsStock != null" >
    	and gi.goods_stock = 0
    </if>
    <if test="params.goodsInfo.warnStock != null" >
    	<![CDATA[ and gi.goods_stock <= gi.warn_stock ]]>
    </if>
    <if test="params.goodsInfo.isSellProduct != null" >
    	and gi.is_sell_product = #{params.goodsInfo.isSellProduct,jdbcType=INTEGER}
    </if>
    <if test="params.goodsInfo.brandId != null" >
    	and gi.brand_id = #{params.goodsInfo.brandId,jdbcType=VARCHAR}
    </if>
    <if test="params.goodsInfo.categoryId != null" >
    	and gi.category_id = #{params.goodsInfo.categoryId,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getGoodsInfoAss" resultType="com.zefun.web.dto.GoodsPurchaseRecordDto" parameterType="java.util.Map">
		select a.goods_id goodsId, ifnull((b.totalAmount / count(a.goods_id)),0) avgCost, ifnull(c.purchase_price,0) prevCost from goods_purchase_record a
		left join (select goods_id, sum(purchase_price) totalAmount from goods_purchase_record where goods_id = 25 and store_id = 1) b on a.goods_id = b.goods_id
		left join (select goods_id, purchase_price from goods_purchase_record order by purchase_time desc limit 0,1) c on a.goods_id = c.goods_id
		where a.goods_id = #{goodsId} and a.store_id = #{storeId}
  </select>
  
  <resultMap id="DeptGoodsResultMap" type="com.zefun.web.dto.DeptGoodsBaseDto">
    <id column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <association property="goodsCategoryBaseDto" column="dept_id" select="selectGoodsCategoryByDeptId" />
  </resultMap>
  <resultMap id="DeptCategoryResultMap" type="com.zefun.web.dto.GoodsCategoryBaseDto">
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <association property="goodsBaseDtos" column="category_id" select="selectGoodsBaseByCategoryId" />
  </resultMap>
  <!-- 查询部门下的项目信息，包括部门信息、项目类别、项目列表。 开始， by 张进军 -->
  <select id="selectDeptGoodsByDeptId" resultMap="DeptGoodsResultMap" parameterType="java.lang.Integer">
    select dept_id, dept_name from dept_info where dept_id = #{deptId} and is_deleted = 0
  </select>
  <select id="selectGoodsCategoryByDeptId" resultMap="DeptCategoryResultMap" parameterType="java.lang.Integer">
    select category_id, category_name from goods_category where dept_id = #{deptId} and is_deleted = 0
  </select>
  
  <select id="selectGoodsBaseByCategoryId" resultType="com.zefun.web.dto.GoodsBaseDto" parameterType="java.lang.Integer">
    select
        goods_id as goodsId,
        goods_name as goodsName,
        goods_price as goodsPrice,
        goods_image as goodsImage,
        goods_desc as goodsDesc,
        goods_stock as goodsStock,
        sales_count as salesCount,
        sales_people as salesPeople,
        affiliated_image as affiliatedImage,
        is_cash_deduction as isCashDeduction
    from goods_info where category_id = #{categoryId} and is_deleted = 0 order by create_time asc
  </select>
  <!-- 查询部门下的项目信息，包括部门信息、项目类别、项目列表。 结束， by 张进军 -->
  
  <delete id="deleteByCategoryId" parameterType="java.lang.Integer">
  delete from goods_info
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  
  <!-- 增加对应商品库存 -->
  <update id="updateGoodsStock" parameterType="com.zefun.web.entity.GoodsInfo" >
    update goods_info
    set goods_stock = goods_stock + #{goodsStock,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  
</mapper>