<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.MemberAppointmentMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.MemberAppointment" >
    <id column="appointment_id" property="appointmentId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="project_step_order" property="projectStepOrder" jdbcType="INTEGER" />
    <result column="shift_mahjong_id" property="shiftMahjongId" jdbcType="INTEGER" />
    <result column="appointment_date" property="appointmentDate" jdbcType="CHAR" />
    <result column="appointment_time" property="appointmentTime" jdbcType="CHAR" />
    <result column="appointment_price" property="appointmentPrice" jdbcType="DECIMAL" />
    <result column="service_time" property="serviceTime" jdbcType="CHAR" />
    <result column="appointment_status" property="appointmentStatus" jdbcType="INTEGER" />
    <result column="cancel_time" property="cancelTime" jdbcType="CHAR" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="MemberAppointResultMap" type="com.zefun.web.dto.AppointmentBaseDto" >
    <id column="appointment_id" property="appointmentId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="project_step_order" property="projectStepOrder" jdbcType="INTEGER" />
    <result column="shift_mahjong_id" property="shiftMahjongId" jdbcType="INTEGER" />
    <result column="shiftMahjongName" property="shiftMahjongName" jdbcType="VARCHAR" />
    <result column="appointment_date" property="appointmentDate" jdbcType="CHAR" />
    <result column="appointment_time" property="appointmentTime" jdbcType="CHAR" />
    <result column="appointment_price" property="appointmentPrice" jdbcType="DECIMAL" />
    <result column="service_time" property="serviceTime" jdbcType="CHAR" />
    <result column="appointment_status" property="appointmentStatus" jdbcType="INTEGER" />
    <result column="cancel_time" property="cancelTime" jdbcType="CHAR" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <association column="employee_id" property="employeeInfo" select="com.zefun.web.mapper.EmployeeInfoMapper.selectBaseInfoByEmployeeId" />
    <association column="project_id" property="projectInfo" select="com.zefun.web.mapper.ProjectInfoMapper.selectProjectBaseByProjectId" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    appointment_id, store_id, member_id, name, phone, employee_id, project_id, project_step_order, 
    shift_mahjong_id, appointment_date, appointment_time, service_time, appointment_status, appointment_price,
    cancel_time, cancel_reason, create_time, update_time, is_deleted, last_operator_id
  </sql>
  
  <select id="selectByPage" resultMap="MemberAppointResultMap" parameterType="com.zefun.web.entity.Page">
    select 
    <include refid="Base_Column_List" />
    from member_appointment where is_deleted = 0 
        and appointment_status = 1
        and store_id = #{params.storeId} 
        and concat(appointment_date, ' ', appointment_time) > now() 
        order by concat(appointment_date, ' ', appointment_time) 
  </select>
  
  <select id="selectAppointmentByAppointmentId" resultMap="MemberAppointResultMap" parameterType="java.lang.Integer">
    select 
        ma.appointment_id, ma.member_id, ma.employee_id, ma.project_id, ma.project_step_order, ma.shift_mahjong_id, ma.appointment_date, 
        ma.appointment_time, ma.service_time, ma.appointment_status, ma.create_time,ma.cancel_time, ma.cancel_reason, ma.appointment_price,
        (select shift_mahjong_name from shift_mahjong where shift_mahjong_id = ma.shift_mahjong_id) as shiftMahjongName
    from member_appointment ma
    where ma.appointment_id = #{appointmentId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAppointmentByMemberId" resultMap="MemberAppointResultMap" parameterType="java.lang.Integer">
    select 
        ma.appointment_id, ma.member_id, ma.employee_id, ma.project_id, ma.project_step_order, ma.shift_mahjong_id, ma.appointment_date, 
	    ma.appointment_time, ma.service_time, ma.appointment_status, ma.create_time,ma.cancel_time, ma.cancel_reason, ma.appointment_price,
	    (select shift_mahjong_name from shift_mahjong where shift_mahjong_id = ma.shift_mahjong_id) as shiftMahjongName
    from member_appointment ma
    where ma.member_id = #{memberId,jdbcType=INTEGER} and is_deleted = 0 order by ma.appointment_status = 1 desc, ma.create_time desc
  </select>
  
  <select id="selectAppointmentByEmployeeId" resultMap="MemberAppointResultMap" parameterType="java.util.Map">
    select 
        ma.appointment_id, ma.member_id, ma.employee_id, ma.project_id, ma.project_step_order, ma.shift_mahjong_id, 
        ma.appointment_date, ma.appointment_time, ma.service_time, ma.appointment_status, ma.create_time,ma.cancel_time, ma.cancel_reason,
        ma.appointment_price, (select shift_mahjong_name from shift_mahjong where shift_mahjong_id = ma.shift_mahjong_id) as shiftMahjongName
    from member_appointment ma
    where ma.employee_id = #{employeeId} and is_deleted = 0 and ma.appointment_status in (#{status}) order by ma.create_time desc
  </select>
  
  <select id="selectAppointDateByEmployee" resultType="java.lang.String" parameterType="java.lang.Integer">
    select 
        concat(appointment_date, ' ', appointment_time)
    from member_appointment 
    where employee_id = #{employeeId} and (appointment_status = 1 or appointment_status = 2) and is_deleted = 0
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_appointment
    where appointment_id = #{appointmentId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_appointment
    where appointment_id = #{appointmentId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.zefun.web.entity.MemberAppointment" >
    insert into member_appointment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appointmentId != null" >
        appointment_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectStepOrder != null" >
        project_step_order,
      </if>
      <if test="shiftMahjongId != null" >
        shift_mahjong_id,
      </if>
      <if test="appointmentDate != null" >
        appointment_date,
      </if>
      <if test="appointmentTime != null" >
        appointment_time,
      </if>
      <if test="appointmentPrice != null" >
        appointment_price,
      </if>
      <if test="serviceTime != null" >
        service_time,
      </if>
      <if test="appointmentStatus != null" >
        appointment_status,
      </if>
      <if test="cancelTime != null" >
        cancel_time,
      </if>
      <if test="cancelReason != null" >
        cancel_reason,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appointmentId != null" >
        #{appointmentId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectStepOrder != null" >
        #{projectStepOrder,jdbcType=INTEGER},
      </if>
      <if test="shiftMahjongId != null" >
        #{shiftMahjongId,jdbcType=INTEGER},
      </if>
      <if test="appointmentDate != null" >
        #{appointmentDate,jdbcType=CHAR},
      </if>
      <if test="appointmentTime != null" >
        #{appointmentTime,jdbcType=CHAR},
      </if>
      <if test="appointmentPrice != null" >
        #{appointmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceTime != null" >
        #{serviceTime,jdbcType=CHAR},
      </if>
      <if test="appointmentStatus != null" >
        #{appointmentStatus,jdbcType=INTEGER},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=CHAR},
      </if>
      <if test="cancelReason != null" >
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="lastOperatorId != null" >
        #{lastOperatorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.MemberAppointment" >
    update member_appointment
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectStepOrder != null" >
        project_step_order = #{projectStepOrder,jdbcType=INTEGER},
      </if>
      <if test="shiftMahjongId != null" >
        shift_mahjong_id = #{shiftMahjongId,jdbcType=INTEGER},
      </if>
      <if test="appointmentDate != null" >
        appointment_date = #{appointmentDate,jdbcType=CHAR},
      </if>
      <if test="appointmentTime != null" >
        appointment_time = #{appointmentTime,jdbcType=CHAR},
      </if>
      <if test="appointmentPrice != null" >
        appointment_price = #{appointmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceTime != null" >
        service_time = #{serviceTime,jdbcType=CHAR},
      </if>
      <if test="appointmentStatus != null" >
        appointment_status = #{appointmentStatus,jdbcType=INTEGER},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=CHAR},
      </if>
      <if test="cancelReason != null" >
        cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id = #{lastOperatorId,jdbcType=INTEGER},
      </if>
    </set>
    where appointment_id = #{appointmentId,jdbcType=INTEGER}
  </update>
</mapper>