<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.MemberErrorZyMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.MemberErrorZy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="level_name" property="levelName" jdbcType="VARCHAR" />
    <result column="level_num" property="levelNum" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="balance_amount" property="balanceAmount" jdbcType="DECIMAL" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, NAME, sex, level_name,level_num, phone, balance_amount, store_id, is_deleted, last_operator_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_error_zy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_error_zy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.MemberErrorZy" >
    insert into member_error_zy (id, NAME, sex, 
      level_name, phone, balance_amount, 
      store_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{levelName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{balanceAmount,jdbcType=DECIMAL}, 
      #{storeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.MemberErrorZy" >
    insert into member_error_zy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="levelName != null" >
        level_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="balanceAmount != null" >
        balance_amount,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="balanceAmount != null" >
        #{balanceAmount,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.MemberErrorZy" >
    update member_error_zy
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null" >
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="balanceAmount != null" >
        balance_amount = #{balanceAmount,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="lastOperatorId != null" >
        last_operator_id = #{lastOperatorId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.MemberErrorZy" >
    update member_error_zy
    set NAME = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      level_name = #{levelName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      balance_amount = #{balanceAmount,jdbcType=DECIMAL},
      store_id = #{storeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insertList" parameterType="java.util.List">
      insert into member_error_zy (id, NAME, sex, level_name, level_num, phone, balance_amount, store_id)
      values 
      <foreach collection="list" item="item" index="index" separator="," >
        (#{item.id},#{item.name},#{item.sex},#{item.levelName},#{item.levelNum},#{item.phone},#{item.balanceAmount},
        #{item.storeId})  
     </foreach>  
  </insert>
  
    <select id="selectByPage" parameterType="com.zefun.web.entity.Page" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_error_zy
    where store_id = #{params.storeId}
    <if test="params.content!=null">
    and (
    name LIKE CONCAT('%',#{params.content},'%')
    or phone LIKE CONCAT('%',#{params.content},'%')
    or level_num LIKE CONCAT('%',#{params.content},'%')
    )
    </if>
    and is_deleted = 0
  </select>
  
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from member_error_zy
    where store_id = #{storeId}
  </select>
  
  <select id="selectStoreMemberAmount" parameterType="java.lang.Integer" resultType="com.zefun.web.entity.MemberErrorZy">
  select sum(balance_amount) as balanceAmounts from member_error_zy where store_id = #{storeId} and is_deleted = 0
  </select>
</mapper>