<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.RoleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.RoleInfo" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_sort" property="roleSort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_name, role_sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role_info
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_info
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.RoleInfo" >
    insert into role_info (role_id, role_name, role_sort
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleSort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.RoleInfo" >
    insert into role_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="roleSort != null" >
        role_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleSort != null" >
        #{roleSort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.RoleInfo" >
    update role_info
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleSort != null" >
        role_sort = #{roleSort,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.RoleInfo" >
    update role_info
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_sort = #{roleSort,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <select id="selectAllRoles" resultMap="BaseResultMap">
   	select 
    <include refid="Base_Column_List" />
    from role_info where role_id != 100 and role_id != 101 and role_id != 102 and role_id != 103
  </select>
  
  <select id="getRoleInfo" resultType="java.lang.Integer" parameterType="java.lang.String">
  select role_id from role_info where role_name=#{roleName}
  </select>
  <select id="queryRoleInfo" resultType="com.zefun.web.entity.RoleInfo" parameterType="java.lang.String">
  select role_id roleId from role_info where role_name=#{roleName}
  </select>
  <select id="selectAllRolesConfigure" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from role_info where role_id != 100
  </select>
</mapper>