<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.StoreInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.StoreInfo" >
    <id column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="hq_store_id" property="hqStoreId" jdbcType="INTEGER" />
    <result column="store_type" property="storeType" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_linkname" property="storeLinkname" jdbcType="VARCHAR" />
    <result column="store_linkphone" property="storeLinkphone" jdbcType="VARCHAR" />
    <result column="store_city" property="storeCity" jdbcType="VARCHAR" />
    <result column="store_province" property="storeProvince" jdbcType="VARCHAR" />
    <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
    <result column="store_tel" property="storeTel" jdbcType="VARCHAR" />
    <result column="store_logo" property="storeLogo" jdbcType="VARCHAR" />
    <result column="carousel_picture" property="carouselPicture" jdbcType="VARCHAR" />
    <result column="store_desc" property="storeDesc" jdbcType="LONGVARCHAR" />
    <result column="technical" property="technical" jdbcType="LONGVARCHAR" />
    <result column="characteristic" property="characteristic" jdbcType="LONGVARCHAR" />
    <result column="teacher_introduction" property="teacherIntroduction" jdbcType="LONGVARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    store_id, hq_store_id, store_type, store_name, store_linkname, store_linkphone,
    store_address, store_city, store_province, store_tel, store_logo, carousel_picture, store_desc,
    technical, characteristic, teacher_introduction, create_time, update_time
  </sql>
  <select id="selectMainIdByStoreId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select ifnull(hq_store_id, #{storeId}) from store_info where store_id = #{storeId}
  </select>

  <select id="selectStoreNameByStoreId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select store_name from store_info where store_id = #{storeId}
  </select>

  <select id="selectBaseInfoByStoreId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
        store_id, store_type, store_name, store_linkname, store_linkphone, store_address, store_tel, store_logo, carousel_picture
    from store_info
    where store_id = #{storeId,jdbcType=INTEGER}
  </select>

  <select id="selectBaseInfoByMainId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
        store_id, store_type, store_name, store_linkname, store_linkphone, store_address, store_tel, store_logo
    from store_info
    where store_type != 2 and (hq_store_id = #{storeId} or store_id = #{storeId})
  </select>

  <select id="selectDescByStoreId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select store_desc from store_info where store_id = #{storeId,jdbcType=INTEGER}
  </select>

  <select id="selectTechnicalByStoreId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select technical from store_info where store_id = #{storeId,jdbcType=INTEGER}
  </select>

  <select id="selectCharacteristicByStoreId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select characteristic from store_info where store_id = #{storeId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from store_info
    where store_id = #{storeId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store_info
    where store_id = #{storeId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zefun.web.entity.StoreInfo" useGeneratedKeys="true" keyProperty="storeId">
    insert into store_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="hqStoreId != null" >
        hq_store_id,
      </if>
      <if test="storeType != null" >
        store_type,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="storeLinkname != null" >
        store_linkname,
      </if>
      <if test="storeLinkphone != null" >
        store_linkphone,
      </if>
      <if test="storeCity != null" >
        store_city,
      </if>
      <if test="storeProvince != null" >
        store_province,
      </if>
      <if test="storeAddress != null" >
        store_address,
      </if>
      <if test="storeTel != null" >
        store_tel,
      </if>
      <if test="storeLogo != null" >
        store_logo,
      </if>
      <if test="carouselPicture != null" >
        carousel_picture,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="storeDesc != null" >
        store_desc,
      </if>
      <if test="technical != null" >
        technical,
      </if>
      <if test="characteristic != null" >
        characteristic,
      </if>
      <if test="teacherIntroduction != null" >
        teacher_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="hqStoreId != null" >
        #{hqStoreId,jdbcType=INTEGER},
      </if>
      <if test="storeType != null" >
        #{storeType,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeLinkname != null" >
        #{storeLinkname,jdbcType=VARCHAR},
      </if>
      <if test="storeLinkphone != null" >
        #{storeLinkphone,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null" >
        #{storeCity,jdbcType=VARCHAR},
      </if>
      <if test="storeProvince != null" >
        #{storeProvince,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null" >
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeTel != null" >
        #{storeTel,jdbcType=VARCHAR},
      </if>
      <if test="storeLogo != null" >
        #{storeLogo,jdbcType=VARCHAR},
      </if>
      <if test="carouselPicture != null" >
        #{carouselPicture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=CHAR},
      </if>
      <if test="storeDesc != null" >
        #{storeDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="technical != null" >
        #{technical,jdbcType=LONGVARCHAR},
      </if>
      <if test="characteristic != null" >
        #{characteristic,jdbcType=LONGVARCHAR},
      </if>
      <if test="teacherIntroduction != null" >
        #{teacherIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.StoreInfo" >
    update store_info
    <set >
      <if test="hqStoreId != null" >
        hq_store_id = #{hqStoreId,jdbcType=INTEGER},
      </if>
      <if test="storeType != null" >
        store_type = #{storeType,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeLinkname != null" >
        store_linkname = #{storeLinkname,jdbcType=VARCHAR},
      </if>
      <if test="storeLinkphone != null" >
        store_linkphone = #{storeLinkphone,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null" >
        store_city = #{storeCity,jdbcType=VARCHAR},
      </if>
      <if test="storeProvince != null" >
        store_province = #{storeProvince,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null" >
        store_address = #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeTel != null" >
        store_tel = #{storeTel,jdbcType=VARCHAR},
      </if>
      <if test="storeLogo != null" >
        store_logo = #{storeLogo,jdbcType=VARCHAR},
      </if>
      <if test="carouselPicture != null" >
        carousel_picture = #{carouselPicture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
      <if test="storeDesc != null" >
        store_desc = #{storeDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="technical != null" >
        technical = #{technical,jdbcType=LONGVARCHAR},
      </if>
      <if test="characteristic != null" >
        characteristic = #{characteristic,jdbcType=LONGVARCHAR},
      </if>
      <if test="teacherIntroduction != null" >
        teacher_introduction = #{teacherIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=INTEGER}
  </update>

  <select id="countByHQStoreId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1) from store_info where hq_store_id = #{hqStoreId,jdbcType=INTEGER}
  </select>

    <select id="selectChainsByHQStoreId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from store_info where hq_store_id = #{hqStoreId,jdbcType=INTEGER}
  </select>

    <select id="selectByStoreIds" resultMap="BaseResultMap" parameterType="java.util.List" >
    select
    <include refid="Base_Column_List" />
    from store_info
    where store_id in
    <foreach collection="list" item="item" index="index"
        open="(" separator="," close=")">#{item}
    </foreach>
     order by create_time desc;
  </select>

</mapper>
